@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Rowdies&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

.title {
    font-family: 'Rowdies', sans-serif;
}

.cartao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin-top: 2%;
    max-height: 100vh;
}

.frase {
    margin-top: 3%;
    font-size: 2rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.autor {
    font-weight: bold;
}

.desc {
    font-style: italic;
}

.link {
    margin-bottom: 5%;
    display: block;
    width: 180px;
}

.icone {
    width: 20px;
    margin-right: 0.4vw;
    filter: invert(82%) sepia(33%) saturate(4485%) hue-rotate(2deg) brightness(108%) contrast(105%);
}

.botao {
    background-color: rgb(17, 80, 255);
    color: #fff;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: rgb(34, 34, 34);
}

#videoMusica {
    margin-bottom: 5%;
    width: 450px;
    height: 280px;
}

.footer {
    margin-top: 5vh;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .cartao {
        margin-top: 15%;
        padding: 5%
    }

    .frase {
        font-size: 1.5rem;
    }
    
    #videoMusica {
        margin-bottom: 5%;
        width: 300px;
        height: 200px;
    }
}
